.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    font-style: bold;
    border: 15px;
    background-color:yellow;
}
img{
    height: 250px;
    width: 300px;
    margin: 15px;
    transition: all 1s;
}
img:hover{
    transform: scale(1.1);
}
h2{
    text-align: center;
    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.row{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blueviolet;
    font-style: bold;
}